@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(img/pht.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

main::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: -1;
}

.container {
    margin: 0 auto;
    padding: 25px;
}

h1 {
    margin: 15px 0;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

a:hover {
    color: purple;
}

ul {
    display: block;
    list-style-type: none;
}

.social {
    margin: 30px 0;
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-left: #fff solid 2px;
    padding-left: 20px;
}
.social__link {
    cursor: pointer;
}